# Variables de entorno
.env
.env.local
.env.production

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
app.py
ingest.py

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit
.streamlit/secrets.toml